.btn-success{ 
    margin-left: 931px;
}
.fa-cog{
    font-size: 20px;
    margin-left: 0px;
}
#nav-profile{
    margin-left: 430px;
    margin-right: auto;
}
.card{margin-bottom: 30px;}

#nav-tab{
    margin-left: 400px;
    margin-right: auto;
}
.fa-map-marker-alt{margin-left:0px}
